In [1]:
from HUB import HUB_DAMAC

In [2]:
laboral = HUB_DAMAC.mercado_laboral()

In [3]:
laboral.indicadores_mercado_laboral

,Indicador,Frecuencia,Fuente
0,Tasa de desempleo,Mensual,https://totoro.banrep.gov.co/estadisticas-econ...
1,Tasa de ocupación,Mensual,https://totoro.banrep.gov.co/estadisticas-econ...
2,Tasa global de participación,Mensual,https://totoro.banrep.gov.co/estadisticas-econ...
3,Informalidad,Trimestral,https://www.dane.gov.co/index.php/estadisticas...
4,Desempleo_desestacionalizado,Mensual,https://www.dane.gov.co/index.php/estadisticas...
5,Desempleo_por_sexo,Trimestre móvil,https://www.dane.gov.co/index.php/estadisticas...
6,Desempleo_por_region,Semestral,https://www.dane.gov.co/index.php/estadisticas...

In [4]:
# laboral.actualizar(carpeta=r"D:\Desktop\Mercado Laboral",actualizar_todo=True,
#                    excel = True,hipervinculos=True,t=15)

***
___

In [5]:
import pandas as pd
import numpy as np

from openpyxl import Workbook
from openpyxl.utils import get_column_letter
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl import load_workbook

import os
import xlrd
import shutil

%config Completer.use_jedi = False

In [6]:
path =  r"D:\Desktop\prueba"

archivos = pd.Series(os.listdir(path))
dane_des_emp_mensual_nombre = archivos[archivos.str.contains('anexo_empleo')].values[0]
for i in archivos:
    if i ==  dane_des_emp_mensual_nombre:
        try:
            data = load_workbook(path+"\{}".format(i))
            sheets = pd.Series(data.sheetnames).str.lower()
        except:
            data = xlrd.open_workbook_xls(path+"\{}".format(i))
            sheets = pd.Series(data.sheet_names()).str.lower()
            
        # Desempleo estacionalizado mensual
        try:
            tnal_estacionalizado_mensual_index = sheets[sheets.str.contains('tnal mensual')].index[0]

            df = pd.read_excel(path+"\{}".format(i),sheet_name=tnal_estacionalizado_mensual_index)

            l = df.iloc[:,0]
            sup = l[l.str.contains('Concepto').fillna(False)].index[0]


            df_temp = df.iloc[sup:sup+33,:]
            df_temp = df_temp.T.dropna(how='all',axis=0).fillna(method='ffill')
            df_temp.columns = df_temp.iloc[0,:]

            df_temp.reset_index(level=0,drop=True,inplace=True)
            df_temp = df_temp.drop([0],axis=0)

            fecha = pd.date_range(start='2001-01-01',periods=len(df_temp),freq='M',name='Fecha')
            df_temp.set_index(fecha,drop=True,inplace=True) 
            df_temp = df_temp.dropna(how='all',axis=1)
            df_temp = df_temp.iloc[:,2:].applymap(lambda x: float(x))
#             df_temp.to_csv(path+r"\desempleo_estacionalizado_total_nacional_mensual.csv",sep=';',decimal=',',encoding='utf-8')
        except:
            print("El desempleo estacionalizado total nacional mensual no se pudo limpiar correctamente")
            pass
        
        
        # Desempleo estacionalizado divisiones 
        try:
            tnal_estacionalizado_divi_index = sheets[sheets.str.contains('tnal cabe ru trim movil')].index[0]

            df = pd.read_excel(path+r"\{}".format("anexo_empleo_ene_21.xlsx"),sheet_name=tnal_estacionalizado_divi_index)


            divisiones = ["Total Nacional","Total Cabeceras","Centros poblados y rural disperso"]

            for j in divisiones:
                l = df.iloc[:,0]
                sup = l[l.str.contains(j).fillna(False)].index[0]


                df_temp = df.iloc[sup:sup+20,:]
                df_temp = df_temp.T.dropna(how='all',axis=0).reset_index(level=0,drop=True)
                df_temp.columns = df_temp.iloc[0,:]

                df_temp.reset_index(level=0,drop=True,inplace=True)
                df_temp = df_temp.drop([0],axis=0)

                fecha = pd.date_range(start='2001-01-01',periods=len(df_temp),freq='M',name='Fecha')

                df_temp.set_index(fecha,drop=True,inplace=True)
                df_temp = df_temp.iloc[:,5:].applymap(lambda x: float(x))

                df_temp.to_csv(path+r"\desempleo_estacionalizado_divisiones_{}.csv".format(j),sep=';',decimal=',',encoding='utf-8')
        except:
            print("El desempleo estacionalizado por divisiones no se pudo limpier correctamente")
            pass

C:\Programas\Miniconda\envs\hubdamac\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [21]:
tnal_estacionalizado_areas_index = sheets[sheets.str.contains('areas trim movil')].index[0]

df = pd.read_excel(path+"\{}".format("anexo_empleo_ene_21.xlsx"),tnal_estacionalizado_areas_index)

l = df.iloc[:,0]
sup = l[l.str.contains('Total 13 ciudades y áreas metropolitanas').fillna(False)].index[-1]
inf = l[l.str.contains('Total 23 ciudades y A.M.').fillna(False)].index[-1]

df.reset_index(level=0,drop=True,inplace=True)

ind = [i.lower().replace(' ','_') for i in pd.Series("""% población en edad de trabajar 
TGP
TO
TD
T.D. Abierto
T.D. Oculto
Población total
Población en edad de trabajar
Población económicamente activa
Ocupados
Desocupados
Abiertos
Ocultos
Inactivos""").str.split('\n')[0]]

dic_ini = pd.DataFrame({})


for inicial in ind:
    ser_index_nac_ini = df[df.applymap(lambda x: str(x).lower().replace(' ','_') == inicial)].dropna(how='all',axis=0).index[0]
    ser_index_name_ini = df[df.applymap(lambda x: str(x).lower().replace(' ','_') == 'concepto')].dropna(how='all',axis=0).index[0]

    ser_ini = df.iloc[ser_index_nac_ini,0:]
    name_ini = df.iloc[ser_index_nac_ini,0] + "_"+ str(df.iloc[ser_index_name_ini-2,0])
    dic_ini[name_ini] = ser_ini
    
    
    lon = list(range(0,26,1))
    #Tasa
for j,jx in zip(ind,lon[1:]):
    dic_temp = pd.DataFrame({})
    ser_index_nac = df[df.applymap(lambda x: str(x).lower().replace(' ','_') == j)].dropna(how='all',axis=0).index[ix]
    ser_index_name = df[df.applymap(lambda x: str(x).lower().replace(' ','_') == 'concepto')].dropna(how='all',axis=0).index[ix]

    ser_ = df.iloc[ser_index_nac,0:]
    name = df.iloc[ser_index_nac,0] + "_"+ str(df.iloc[ser_index_name-3,0])
    dic_temp[name] = ser_

    dic_ini = pd.concat([dic_ini,dic_temp],axis=1)

# df_final.reset_index(level=0,drop=True,inplace=True)
# df_final = df_final.drop([0],axis=0)
# fecha = pd.date_range(start='2001-01-01',periods=len(df_final),freq='M',name='Fecha')
# df_final.set_index(fecha)

In [22]:
dic_ini

,% población en edad de trabajar _Total 13 ciudades y áreas metropolitanas,TGP_Total 13 ciudades y áreas metropolitanas,TO_Total 13 ciudades y áreas metropolitanas,TD_Total 13 ciudades y áreas metropolitanas,T.D. Abierto_Total 13 ciudades y áreas metropolitanas,T.D. Oculto_Total 13 ciudades y áreas metropolitanas,Población total_Total 13 ciudades y áreas metropolitanas,Población en edad de trabajar_Total 13 ciudades y áreas metropolitanas,Población económicamente activa_Total 13 ciudades y áreas metropolitanas,Ocupados_Total 13 ciudades y áreas metropolitanas,...,T.D. Abierto_Barranquilla A.M.,T.D. Oculto_Barranquilla A.M.,Población total_Barranquilla A.M.,Población en edad de trabajar_Barranquilla A.M.,Población económicamente activa_Barranquilla A.M.,Ocupados_Barranquilla A.M.,Desocupados_Barranquilla A.M.,Abiertos_Barranquilla A.M.,Ocultos_Barranquilla A.M.,Inactivos_Barranquilla A.M.
Unnamed: 0,% población en edad de trabajar,TGP,TO,TD,T.D. Abierto,T.D. Oculto,Población total,Población en edad de trabajar,Población económicamente activa,Ocupados,...,T.D. Abierto,T.D. Oculto,Población total,Población en edad de trabajar,Población económicamente activa,Ocupados,Desocupados,Abiertos,Ocultos,Inactivos
Unnamed: 1,76.762304,65.116692,52.076772,20.025457,18.858689,1.166779,17433.521333,13382.372667,8714.158333,6969.107667,...,12.484893,0.330365,1503.535,1126.128667,644.034333,561.499667,82.534333,80.407,2.127667,482.094333
Unnamed: 2,76.795128,64.34114,52.10828,19.012479,17.666779,1.345722,17456.745,13405.929667,8625.528,6985.599333,...,12.435292,0.30495,1505.406333,1127.995667,636.387667,555.310333,81.077333,79.136667,1.940667,491.608
Unnamed: 3,76.828155,63.579411,51.909381,18.355043,16.868937,1.486118,17479.922667,13429.502,8538.398333,6971.171333,...,13.814954,0.467039,1507.277,1129.862333,651.337667,558.313667,93.024,89.982,3.042,478.524667
Unnamed: 4,76.861447,63.526463,51.986921,18.164933,16.701874,1.463056,17503.123,13453.153667,8546.312667,6993.880333,...,16.021649,0.617785,1509.149333,1131.730667,664.039,553.546667,110.492667,106.39,4.102333,467.691667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Unnamed: 235,82.731155,61.941246,49.065378,20.787233,20.179584,0.607658,22588.528333,18687.750333,11575.425333,9169.215333,...,11.396679,0.856285,1938.289333,1569.691,903.476667,792.774,110.702667,102.966333,7.736333,666.214333
Unnamed: 236,82.74537,63.299436,51.795827,18.173319,17.524648,0.64868,22609.501,18708.315333,11842.258,9690.126667,...,11.62072,0.583174,1940.004667,1571.492333,943.229,828.118333,115.110667,109.61,5.500667,628.263333
Unnamed: 237,82.759521,64.228081,53.436895,16.801349,16.196605,0.60475,22630.521667,18728.911333,12029.220333,10008.148667,...,11.808659,0.532773,1941.719333,1573.295333,961.447,842.790333,118.656667,113.534,5.122333,611.848333
Unnamed: 238,82.773634,64.281488,54.047714,15.92025,15.276842,0.643411,22651.595,18749.548333,12052.488667,10133.702333,...,11.756742,0.514671,1943.435667,1575.101333,962.945333,844.778,118.167333,113.211,4.956,612.156333
Unnamed: 239,82.787756,63.820977,53.096568,16.803905,16.137783,0.666119,22672.721,18770.237,11979.348667,9966.351667,...,11.816985,0.654401,1945.156,1576.911333,955.836,836.629333,119.206667,112.951,6.255,621.075667